<!DOCTYPE html>
<html ng-app="listaTelefonica">
<head>
	<title>Lista Telefonica</title>

	<link rel="stylesheet" type="text/css" href="lib/bootstrap/bootstrap.css">

	<style>
		.jumbotron{
			width: 400px;
			text-align: center;
			margin-top: 20px;
			margin-left: auto;
			margin-right: auto;
		}

		.table {
			margin-top: 20px;
		}

	</style>

	<script src="lib/angular/angular.js"></script>

	<script>
		angular.module("listaTelefonica", []); // criando modulo
		angular.module("listaTelefonica").controller("listaTelefonicaCtrl", function($scope){

           $scope.app ="Lista Telefonica"; 
           $scope.contatos = [
            
            {nome: "Pedro" , telefone: "98240-9037"},
            {nome: "Ana" , telefone: "98240-9048"},
            {nome: "Maria" , telefone: "98240-9038"}

           ];

           $scope.adicionarContato = function (contato){

              $scope.contatos.push(angular.copy(contato));
              delete $scope.contato;
           };

		}); // localizando controller

	</script>
</head>
<body ng-controller="listaTelefonicaCtrl">
<div class="jumbotron">
	<!--<h4 ng-bind="app"></h4>-->
	<h3>{{app}}</h3>

	<table class="table table-striped">
		<tr>
			<th>Nome</th>
			<th>Telefone</th>
		</tr>
		<tr ng-repeat="contato in contatos">

			<td>{{contato.nome}}</td>
			<td>{{contato.telefone}}</td>

		</tr>
	</table>

	<input class="form-control" type="text" ng-model="contato.nome" placeholder="Nome" />
	<input class="form-control" type="text" ng-model="contato.telefone" placeholder="Telefone" />
	<button class="btn btn-primary btn-block" ng-click="adicionarContato(contato)" ng-disabled="!contato.nome || !contato.telefone">Adicionar Contato</button>
	
</div>
</body>
</html>